.Service {
    border: 3px solid #AD63FF;
 }

.Product {
    border: 3px solid #FB004A;
}

.Value {
    border: 3px solid #FD7E09;
}

.Recommend {
    border: 3px solid #20F3B5;
}

.Experience {
    border: 3px solid #FFDC28;
}

.range {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;

}
.range::-webkit-slider-thumb {
    display: none;
}

.QuestionResult {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.QuestionResult span {
    display: flex;
}

.QuestionResult span > p {
    padding: 2px;
}

.Val {
    font-size: larger;
}
